@font-face {
  font-family: 'digital';
  src: url('./font/digital.ttf');
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0c1524;
  color: white;
  font-family: 'digital';
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#digital {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin: 0;
  padding: 0;
}

#clkRim {
  width: 500px;
  height: 500px;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  transition: opacity 1s, height 1s, width 1s;
}

#sec {
  height: 175px;
  width: 2px;
  background-color: #4cbcd8;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 0.5px);
  bottom: calc(50% + 1px);
  transform-origin: bottom center;
  transition: opacity 1s, height 1s, width 1s;
}

#min {
  height: 125px;
  width: 5px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 2px);
  bottom: calc(50% + 1px);
  transform-origin: bottom center;
  transition: opacity 1s, height 1s, width 1s;
}

#hour {
  height: 75px;
  width: 10px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 4px);
  bottom: calc(50% + 1px);
  transform-origin: bottom center;
  transition: opacity 1s, height 1s, width 1s;
}

#dome {
  height: 15px;
  width: 15px;
  background-color: #4cbcd8;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 7.5px);
  bottom: calc(50% - 7.5px);
  transform-origin: center;
}

#time1 {
  width: 5px;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 5%;
  left: 50%;
  border-radius: 10px;
}

#time2 {
  width: 30px;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 5%;
  border-radius: 10px;
}

#time3 {
  width: 5px;
  height: 30px;
  background-color: white;
  position: absolute;
  bottom: 5%;
  left: 50%;
  border-radius: 10px;
}

#time4 {
  width: 30px;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 5%;
  border-radius: 10px;
}

h2 {
  margin: 10px;
  font-size: 4.5rem;
  letter-spacing: 10px;
}

h5 {
  padding-top: 20px;
  font-size: 2rem;
  letter-spacing: 5px;
}

span {
  display: inline-block;
  width: 75px;
  transition: 500ms;
}

@media (max-width: 768px) {
  #clkRim {
    width: 400px;
    height: 400px;
  }

  #sec {
    height: 130px;
    width: 2px;
  }

  #min {
    height: 90px;
    width: 4px;
  }

  #hour {
    height: 50px;
    width: 7px;
  }

  #time1 {
    width: 5px;
    height: 25px;
  }

  #time2 {
    width: 25px;
    height: 5px;
  }

  #time3 {
    width: 5px;
    height: 25px;
  }

  #time4 {
    width: 25px;
    height: 5px;
  }

  span {
    width: 65px;
  }

  h2 {
    font-size: 4rem;
    letter-spacing: 10px;
  }

  h5 {
    font-size: 1.5rem;
    letter-spacing: 5px;
  }
}

@media screen and (max-height: 700px) and (orientation: landscape) {
  section {
    flex-direction: row-reverse;
  }
  #clkRim {
    width: 300px;
    height: 300px;
    margin-left: 30px;
  }

  #sec {
    height: 100px;
    width: 1px;
  }

  #min {
    height: 75px;
    width: 2px;
  }

  #hour {
    height: 25px;
    width: 5px;
  }

  #time1 {
    width: 3px;
    height: 10px;
  }

  #time2 {
    width: 10px;
    height: 3px;
  }

  #time3 {
    width: 3px;
    height: 10px;
  }

  #time4 {
    width: 10px;
    height: 3px;
  }

  span {
    width: 55px;
  }

  h2 {
    font-size: 3.5rem;
    letter-spacing: 7px;
  }

  h5 {
    font-size: 1.2rem;
    letter-spacing: 5px;
  }
}

@media (max-width: 450px) {
  #clkRim {
    opacity: 0;
    width: 300px;
    height: 300px;
  }

  #sec {
    height: 100px;
    width: 1px;
  }

  #min {
    height: 75px;
    width: 2px;
  }

  #hour {
    height: 25px;
    width: 5px;
  }

  #time1 {
    width: 3px;
    height: 10px;
  }

  #time2 {
    width: 10px;
    height: 3px;
  }

  #time3 {
    width: 3px;
    height: 10px;
  }

  #time4 {
    width: 10px;
    height: 3px;
  }

  span {
    width: 55px;
  }

  h2 {
    font-size: 3.5rem;
    letter-spacing: 7px;
  }

  h5 {
    font-size: 1.2rem;
    letter-spacing: 5px;
  }
  #digital {
    transform: translateY(-140%);
    transition: transform 1s;
    transition-delay: 1s;
  }
}
